.gen-body {
  padding: 10%;
}

.logo {
  width: 60%;
  margin: 0 auto;
}

.logo img {
  width: 100%;
}

.generator {
  width: 60%;
  height: 100px;
  padding: 2% 5%;
  margin: 0 auto;
  background-color: #1c5983;
}

.contentCon {
  height: 55%;
  background-color: #fff;
}

#spinner {
  height: 50px;
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
  overflow: hidden;
}

#spinner div {
  font-size: 40px;
}

.buttonContainer {
  width: 60%;
  margin: 0 auto;
}

.submit {
  width: 100%;
  margin: 20px auto 0;
  height: 35px;
  font-size: 20px;
  cursor: pointer;
  background-image: linear-gradient(to bottom,#174e7a 0,#286ca1 100%);
  color: #fff;
  border-radius: 5px;
}
